npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
./idea/

Prototype/node_modules*
Prototype/.expo/*

Server/node_modules/*
Server/.serverless/sml.zip
Server/.idea/*

# macOS
.DS_Store
